//main: style.scss
body{
  overflow-x: hidden;
}

.navbar{
  .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1em!important;
    padding-right: 1em!important;
  }

  .nav-item.active{
    border-left: #444 3px solid;
  }
}

.carousel-item{
  height: 450px;
}

.carousel-image-1{
  background: url("../img/image1.jpg");
  background-size: cover;
}

.carousel-image-2{
  background: url("../img/image2.jpg");
  background-size: cover;
}

.carousel-image-3{
  background: url("../img/image3.jpg");
  background-size: cover;
}

.fa{
  font-size: $icon-size!important;
}

#home-heading{
  position: relative;
  min-height: 200px;
  background: url("../img/lights.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay{
  position: absolute;
  background-color: $dark-overlay;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-play{
  position: relative;
  min-height: 200px;
  background: url("../img/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;

  a{
    color: #fff;
  }
}

footer#main-footer{
  background: #000;
  color: #fff;
}

//ABOUT PAGE
#page-header{
  height: 200px;
  background: url("../img/image1.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#about{
  img{
    margin-top: -50px;
  }
}

// SERVICES PAGE
#faq{
  .card{
    border: #444;
    a{
      color:#fff;
      text-decoration: none;
    }
  }

  .card-body, .card-header{
    background: #333
  }
}
