//main: style.scss
body{
  background-color: $bg-color;
  color: $font-color;
}

.navbar{
  border-bottom: $primary-color 3px solid;
  opacity: 0.8;
}


#home-section{
  background: url("../images/home.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;

  .dark-overlay{
    background-color: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }

  .home-inner{
    padding-top: 150px;
  }

  .card-form{
    opacity: 0.8;
  }

  .svg-inline--fa.fa-w-16{
    color:$primary-color;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }

}

#explore-section, #share-section{
  .svg-inline--fa.fa-w-16{
    color: #fff;
    background-color: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}

#create-section{
  .svg-inline--fa.fa-w-16{
    color: #fff;
    background-color: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
  }
}
